/*/ADD COPYRIGHT/*/

body {
font-family: 'Lato', sans-serif;
margin-left: 15rem;
margin-top: 2.5rem;



}

.henry {
width: 35rem;
height: 35rem;
position:absolute;
margin-left: -28rem;
top: .1rem;
}

.container {
  border-bottom: .1rem solid #1187ee;
  padding-bottom: 1rem;
}

img {
  color: black;
}

footer {

  margin-top: 20rem;
  border-top: .1rem solid #1187ee;
  padding-top: 3px;
}
