/*/made by henry, not you/*/

body {
font-family: 'Lato', sans-serif;
margin-left: 15rem;
margin-top: 2.5rem;
}

h1 {
  font-size: 3rem;
  font-weight: 500;
}

h2 {
  font-size: 1.75rem;
}

p {
  display: inline;
  font-size: 2rem;
  padding-bottom: 1em;
  word-spacing: 5rem;

}

footer {
  margin-top: 15rem;
  border-top: .1rem solid #1187ee;
  padding-top: 1rem;
  font-size: 1.5rem;
  margin-top: 30rem;
}

.henry {
width: 60rem;
height: 60rem;
position: absolute;
margin-left: -37rem;
top: .1rem;
}

.container {
  border-bottom: .1rem solid #1187ee;
  padding-bottom: 1rem;

}

.row {
font-family: 'Avenir Next';
font-size: 3rem;
margin-left: 5rem;
margin-top: 5rem;
}

.row2 {
font-family: 'Avenir Next';
font-size: 3rem;
margin-left: 5rem;
margin-top: 15rem;

}
