/*
    Nice colors - #5d81a2, #446182, #467180
    Gray -  #777777
    Made by Henry 2014

*/
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: #5d81a2;
  line-height: 0;
  font-weight: 400;
  margin: 0;
}

h1 {
  color: white;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 2rem;
  line-height: 1;
  margin-top: 0;
  padding-bottom: 1rem;

}

h2 {
  color: white;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-size: 1.5rem;
  line-height: 1;
}

p {
  font-size: 2rem;
  margin-top: 5rem;
  padding-bottom: 2rem;
}

a {
  text-decoration: none;
  color: white;
}

.container {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.25rem;

}

.background {
  padding: 1rem;
  background-color: #777777;
}

.nav {
  padding-bottom: 1rem;
}

.nav > a {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.projects {
  font-size: 5rem;
  color: white;
}

.projects > a {
  color: white;
  font-size: 10rem;
  line-height: .5;
  margin-top: 0;
  padding-bottom: 1rem;
}

.drawings {
  font-size: 5rem;
  color: white;
}
.writing {
  font-size: 5rem;
  color: white;
}
.column {
  margin-right: auto;
  margin-left: auto;
  margin-top: 4rem;
  padding-left: 1rem;

}

@media screen and (min-width: 48em) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5 {
    font-size: 0.875rem;
  }

  h6 {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 48em) {
  p {
    font-size: 1rem;
  }
  }
}
