/*

    Made in Texas by Henry -- If you made it here you're awesome.

*/

body {
  font-family: "Courier New", Courier, monospace;
  color: #293646;
}

.wrapper {
  max-width: 960px;
  margin: 0 auto;
}

header {
  padding: 5em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

a {
  color: #293646;
  text-decoration: none;
}

a:hover {
  color: #0c8ff3;
}

ul {
  margin: 5em 5em 0em 2.5em;
}

li {
  list-style: none;
  display: inline-block;
}

@media screen and (min-width: 660px) {

ul {
  margin: 15em 5em 0em 3em;
}

}
