/*
    Nice colors - #5d81a2, #446182, #467180
    Gray -  #777777
    Made by Henry 2014

*/
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: #777777;
  line-height: 0;
  font-weight: 400;
  margin: 0;
}

h1, h2 {
  color: white;
  text-transform: uppercase;
  letter-spacing: .2em;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  line-height: 1;
}

p {
  font-size: 2rem;
  font-weight: 200;
  margin-top: 4rem;
  padding-bottom: .5rem;
}

a {
  text-decoration: none;
  color: white;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 100;
}

footer {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 100;
  font-size: 1rem;
  float: right;
  border-top: .1rem solid white;
}
.container {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.25rem;

}

.background {
  padding: 1rem;
  background-color: #5d81a2;
  padding-bottom: 13.5rem;
}

.projects {
  font-size: 5rem;
  color: white;
}

.drawings {
  font-size: 5rem;
  color: white;
}
.writing {
  font-size: 5rem;
  color: white;
}

.column {
  margin-right: auto;
  margin-left: auto;
  margin-top: 3rem;
  padding-left: 1rem;

}

@media screen and (min-width: 48em) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.125rem;
  }

  h5 {
    font-size: 0.875rem;
  }

  h6 {
    font-size: 0.875rem;
  }
}

@media screen and (max-width: 48em) {
  p {
    font-size: 1rem;
  }
  }
}
