/*
    Nice colors - #5d81a2, #446182, #467180
    Gray -  #777777
    Made by Henry 2014

*/
body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  background-color: #777777;
  line-height: 0;
  font-weight: 400;
  margin: 0;
  color: white;
}

h1, h2{
  text-transform: uppercase;
  letter-spacing: .2em;
  line-height: 1;
}

h1 {
  font-size: 2rem;
}

h2 {
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: white;
  padding-right: 0.75rem;
  padding-left: 0.75rem;
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 100;
}

p {
  font-size: 1rem;
  font-weight: 200;
  margin-top: 3rem;
  text-transform: uppercase;
  font-weight: 100;
  line-height: 2;
}

a:hover {
  color: #14eb46;
}

footer {
  text-transform: uppercase;
  letter-spacing: .2em;
  font-weight: 100;
  font-size: 1rem;
  margin-top: 2rem;
  line-height: 1;
  padding-left: 1rem;
}

.container {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.25rem;
}

.header {
  padding: 1rem;
  background-color: #5d81a2;
}

.nav > a {
  border-left: .1rem solid #14eb46;
  padding-left: 1rem;
}

.thoughts {
  padding: 1rem;
}

@media screen and (min-width: 48em) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 2rem;
  }
}
